*{
    box-sizing: border-box;
}

/* Dashboard css */
.dashboard {
	font-family: sans-serif;
	background: rgb(171, 170, 173);
	height: 120vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 50px;
    
}

.main{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(211, 224, 235);
    margin: 40px;
}

.item1{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	width: 30vw;
    height: 95vh;
	background-color: #29539b;
    background-image: linear-gradient(315deg, #0e316c 0%, #4367a9 74%);
	border-radius: 10px;
	box-shadow: 2px 0px 41px 5px rgba(0, 0, 0, 0.582);
	-webkit-box-shadow: 2px 0px 41px 5px rgba(0, 0, 0, 0.582);
	-moz-box-shadow: 2px 0px 41px 5px rgba(0, 0, 0, 0.582);
}

.other{
    width: 60vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.other-item{
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    padding: 10px;
}
.item{
    width: 20vw;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    background-color: white;
    color: #e71818;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}
.heading{
    color: black;
}
.item:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.visitors{
    height: 60vh;
    width: 58vw;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    background-color: white;
    padding: 20px;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.visitors:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.img1{
    width: 200px;
    height: 200px;
    min-height: 50px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.li{
	display: block;
	color: rgb(204, 204, 207);
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
}
.personalInfo {
	padding: 0;
}


.heading {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.3rem;
}
.headingUsername {
	color: rgb(255, 255, 255);
}
/*Adds hover effect style to nav items*/
.li:hover {
	background-color: rgba(248, 245, 245, 0.342);
	color: rgb(0, 0, 0);
}
#img:hover{
   cursor: pointer;
}

@media (max-width:1000px) {
    .main{
        flex-wrap: wrap;
        width: 100vw;
        padding: 0;
    }
    
    .item1{
        width: 80%;
        height: auto;
        padding: 10px;
        border-radius: 20px;
        margin-top: 8px;
        /* flex-direction: row; */
        padding: 10px 10px;
        box-shadow: none;
        
                
    }
    .info{
        padding: 20px 0;
        font-size: 16px;
        flex: 1;
    }
    .li{
    
        font-size: 16px;
    }
    .img1{
        width: 100%;
        height: auto;
    }
    .headingUsername{
        font-size: 20px;
        text-align: center;
        padding: 5px;
    }
    .other-item{       
        height: auto;
        width: 80vw;
    }
    .item{
        width: 200px;
        height: 200px;
    }
    .visitors{
        width: 80vw;
    }
   
}
@media (max-width:400px) {
    .item1{
        width: 100%;
        height: auto; 
        padding: 15px; 
       
    }
    .visitors{
        width: 90vw;
    }
   
}

@media (max-width:800px) {
    .other-item{       
        height: auto;
        width: 100vw;
    }
}
@media (max-width:600px) {
    .other-item{       
        flex-direction: column;
    }
}
.background-dark{
    background:#0c2444;
    
}
.main-background-dark{
    background-color: rgb(109 111 112);
}
.other-background-dark .item, .other-background-dark .visitors{
    background-color:#dadada ;
}