*{
    box-sizing: border-box;
}

/* Dashboard css */
.dashboard {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #edeff1;
	height: 120vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 50px;
    
}

.main{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #e4e6ea;
    margin: 40px;
}

.item1{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	width: 30vw;
    height: 95vh;
    color:#6d6a89;
	background-color: #cdced7;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.other{
    width: 60vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.other-item{
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    padding: 10px;
}
.item{
    width: 20vw;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    background-color: #cdced7;
    color: #6d6a89;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}
.heading{
    color: #6d6a89;
    font-size: 1.5em;
}
.item:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.visitors{
    min-height: 60vh;
    width: 58vw;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    background-color: #cdced7;
    padding: 20px;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.visitors:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.img1{
    width: 200px;
    height: 200px;
    min-height: 50px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

li{
	display: block;
    color: #6d6a89;
	padding: 5px 5px;
	text-decoration: none;
	text-align: left;
    font-size: 1.2em;
    font-weight:bold;
}
.li1{
    font-size: 1em;
}
.personalInfo {
	padding: 0;
}
.info{
    text-align: center;
}

.heading {
	font-size: 1em;
	font-weight: bold;
	padding: 1.3rem;
}
.headingUsername {
	color: #6d6a89;
    font-size: 2em;
    font-weight:bold;
    margin-top: 0.5em;
}
.savedcodes{
    font-size: 2em;
}
/*Adds hover effect style to nav items*/
.li:hover {
	background-color: rgba(248, 245, 245, 0.342);
	color:  #6d6a89;
}
#img:hover{
   cursor: pointer;
}

.box{
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    text-align: left;
    font-size: 25px;
    padding: 20px;
    background-color: rgb(177, 177, 192);
    color: #6d6a89;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.code{
    font-size: 0.8em;
	font-weight: bold;
	padding: 0.5rem 0;
}
.scodeflex{
    display:flex;
    flex-wrap:wrap ;
    flex-direction: row;
}
.t1{
    font-size: 0.6em;
}
.p1{
    font-weight: bold;
    vertical-align: middle;
}

@media (max-width:1000px) {
    .main{
        flex-wrap: wrap;
        width: 100vw;
        padding: 0;
    }
    
    .item1{
        width: 80%;
        height: auto;
        padding: 10px;
        border-radius: 20px;
        margin-top: 8px;
        /* flex-direction: row; */
        padding: 10px 10px;
        box-shadow: none;
        
                
    }
    .info{
        padding: 20px 0;
        font-size: 16px;
        flex: 1;
    }
    .li{
    
        font-size: 16px;
    }
    .img1{
        width: 100%;
        height: auto;
    }
    .headingUsername{
        font-size: 20px;
        text-align: center;
        padding: 5px;
    }
    .other-item{       
        height: auto;
        width: 80vw;
    }
    .item{
        width: 200px;
        height: 200px;
    }
    .visitors{
        width: 80vw;
    }
   
}
@media (max-width:400px) {
    .item1{
        width: 80%;
        height: auto; 
        padding: 15px; 
    }
    .visitors{
        width: 90vw;
    }
    .scodeflex{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width:90%;
    }
    #img{
        width:80%;
    }
    .item2{
        width:85%;
    }
   
}

@media (max-width:800px) {
    .other-item{       
        height: auto;
        width: 100vw;
    }
}
@media (max-width:600px) {
    .other-item{       
        flex-direction: column;
    }
}
.background-dark{
    background:#2d104b;
}
.main-background-dark{
    background-color: #391f56;
}
.main-background-dark .item1, .main-background-dark .item2, .main-background-dark .item5{
    background-color: rgb(98, 81, 123);
    color:rgb(168, 145, 200);
}
.main-background-dark li, .main-background-dark p, .main-background-dark .heading{
    color:rgb(168, 145, 200);
}
.main-background-dark .li:hover{
    color:rgb(89, 71, 115);
    background-color: rgb(168, 145, 200);
}
.main-background-dark .item3{
    background-color: rgb(89, 71, 115);
    color:rgb(168, 145, 200);
}

.other-background-dark .item, .other-background-dark .visitors{
    background-color:rgb(98, 81, 123) ;
}
.text-dark{
    color:rgb(168, 145, 200);
    background-color: rgb(98, 81, 123);
}