
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
    
}

.full {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}

.h1 {
    font-weight: bold;
}

.h2 {
    text-align: center;
}

.h3 {
    padding-bottom: 0.5em;
}

.p {
    font-size: 13px;
    font-weight: 100;
    line-height: 18px;
    margin: 20px 0 30px;
}

.span {
    font-size: 12px;
}

.a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.button {
    border-radius: 20px;
    border-color: black;
    border: 1px solid #068106;
    background-color: #1ea01e;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 100ms ease-in;
}

.button:active {
    transform: scale(0.9);
}

.button:focus {
}

.button#ghost1 {
    color: black;
    background-color: #068106;
    border-color: #ccc;
}

#signUp {
    color: black;
    background-color: transparent;
    border-color: #ffffff;
    background-color: #068106;
}

form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    height: 100%;
}

.input {
    background-color: #eee;
    border: none;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 48rem;
    min-height: 28rem;
    max-width: 100%;
    max-width: 100%;
    align-items: center;
}

.form-container {
    top: 0;
    height: 100%;
    position: absolute;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    opacity: 0;
    z-index: 1;
    width: 50%;
}

.container.right-panel-active .sign-up-container {
    opacity: 1;
    z-index: 3;
    animation: show 0.6s;
    transform: translateX(100%);
}

@keyframes show {
    0%,
    49.999999999% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 3;
    }
}

.overlay-container {
    top: 0;
    left: 50%;
    width: 50%;
    z-index: 100;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    left: -100%;
    width: 200%;
    height: 100%;
    color: #ffffff;
    position: relative;
    background: #ff416c;
    background-size: cover;
    transform: translateX(0);
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: transform 0.6s ease-in-out;
    background: linear-gradient(to right, #068, #ff416c);
    background: -webkit-linear-gradient(to right, #068106, #ff416c);
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    padding: 0 40px;
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    background-size: cover;
    transform: translateX(0);
    /* background-image: url(""); */
    background-blend-mode: lighten;
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
@media (max-width:900px) {
 
  .full, form .form-container, .sign-up-container, .sign-in-container,.overlay-container, .overlay, .overlay-left, .overlay-right, .container{
      position: static;
      overflow: visible;
      opacity: 1;

  }
  .container.right-panel-active .sign-in-container{
    transform: translateX(0%);
    }
    .container.right-panel-active .sign-up-container{
        transform: translateX(0%);
    }
    .container.right-panel-active .overlay-right{
        transform: translateX(0%);
    }
    .container.right-panel-active .overlay-right{
        transform: translateX(0%);
    
    }
    .container.right-panel-active .overlay{
        transform: translateX(0%);
    }
    .container.right-panel-active .overlay-container {
        transform: translateX(0%);
    }
    *{
    
    }

  .full{
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      height: auto;
      width: 100vw;
  
  }
  .container{
      display: contents;
      display: flex;
      align-items: center;
      height: 700px;
      padding: 20px;
      flex-direction: column;
      box-shadow: none;
      width: 100vw;
      position: relative;
      padding: 0;
      box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
   
  }
  .overlay-left{
      transform: translateX(0);
   
  }
  .sign-in-container{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .sign-up-container{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .same1{
      display: none;
      margin: auto 0;
  }
  .overlay-container{
      /* border:5px solid violet; */
      width: 100%;
      padding: 0;
      margin: 0;
  }  
  .overlay{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 10px 10px;
      margin: 0;      
  }
  .overlay-panel{
     width: 100%;
  }
  .sign-in-container{
      width: 100%;
      padding: 0;
   
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
     
  }
  
  .sign-up-container{
      width: 100%;
      padding: 0;
   
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
     
  }
  


    
    .input{
        text-align: center;
    }
    .sign-in-container{
        border-radius: 10px 10px 0 0;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    button{
        font-size: 14px;
     
        min-width: 200px;
    }
    form{
        width: 400px;
        min-width: 250px;
        position: static;
    }
    
    .container .a1{
        transform: translateX(-800px);
        position: absolute;
        height: 60%;
    
        transition: transform 0.6s ease-in-out;
    }
   
      div#conatiner.container.right-panel-active{
          display: flex;
          padding: 0;
          align-items: center;
      }
    .overlay{
        display: flex;
        align-items: center;
    }
    .overlay-panel.overlay-left.a1{
        width: 100%;
        height: 100%;
    }
    .container .overlay-container{
        height: 70%;
    }
    .container.right-panel-active .a1{
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }
    .container.right-panel-active .a0{
        transform: translateX(-800px);
    }
   
}
