* {
    --compiler-page-background: linear-gradient(to top left, #ccebff, #bf80ff);
    /* --compiler-page-background: #fff; */
}
body {
    /* background: var(--compiler-page-background); */
    /* display: flex; */
    /* align-items: center; */
}
.compiler-bg {
    padding: 10px;
    /* background-color: var(--compiler-page-background); */
    background: var(--compiler-page-background);
}
.compiler-bg > h1 {
    text-align: center;
    padding: 1em;
}
.inputHeading {
    color: #010140;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}
.chooseLanguage {
    font-size: 20px;
    /* display: flex; */
}
.languageSelector {
    display: flex;
    padding-top: 2em;
}
.language {
    padding: none;
    color: #010140;
}
#source {
    width: 100% !important;
    background: #cccccc52;
    height: 50vh;
    font-size: 15px;
    resize: vertical;
    outline: none;
    font-family: monospace;
    color: #000;
    border-radius: 12px;
    padding: 5px;
}
#source::placeholder {
    color: #000;
}
#input {
    background: #cccccc52;
    width: 45.6%;
    height: 17vh;
    resize: vertical;
    font-size: 17px;
    border-radius: 12px;
    width: 100%;
    outline: none;
    color: #000;
}
#input::placeholder {
    color: #000;
}

.user-input {
    /* background: var(--compiler-page-background); */
    width: 100%;
}

#output {
    display: flex;
    background: #cccccc52;
    color: #000;
    width: 50%;
    height: 100%;
    font-size: 18px;
    right: 0;
    resize: none;
    border-radius: 12px;
    width: 100%;
    outline: none;
}
#output::placeholder {
    color: #000;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}
button.button-run {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 0.4em 0.5em;
    background: #fff0f0;
    border: 2px solid #c9d6ff;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        background 150ms cubic-bezier(0, 0, 0.58, 1);
    letter-spacing: 2px;
}
button.button-run::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fe2bfe;
    border-radius: inherit;
    box-shadow: 0 0 0 1px #c9d6ff, 0 0.625em 0 0 #4376ef;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.button-run:hover {
    background: #8528fc;
    transform: translate(0, 0.25em);
}
button.button-run:hover::before {
    box-shadow: 0 0 0 1px #c9d6ff, 0 0.5em 0 0 #4376ef;
    transform: translate3d(0, 0.5em, -1em);
}
button.button-run:active {
    background: #8528fc;
    transform: translate(0em, 0.75em);
    color: #ccc;
}
button.button-run:active::before {
    box-shadow: 0 0 0 1px #c9d6ff, 0 0 #4376ef;
    transform: translate3d(0, 0, -1em);
}
