* {
    --compiler-page-background: linear-gradient(to top left, #ccebff, #b975fd);
}
body {
    /* display: flex; */
    /* align-items: center; */
    transition-delay: 1s;
    
}
.compiler-bg {
    padding: 10px;
    background: rgba(237, 239, 241, 1);
    transition: background-color 1000ms linear;
    height: auto;
    min-height: 100vh;
    transition: all 0.8s ease 0s;
}
.compiler-bg > h1 {
    text-align: center;
    padding: 1em;
    font-size: 40px;
    transition: all 0.8s ease 0s;
}
h1>span{
    color: red;
}
/*
============================================================================

Compiler section desgin

============================================================================
*/

.code{
    display: flex;
    font-size: 15px;
    border-radius: 20px;
    width: 100%;
    height: 62vh;
    padding: 10px;
    background: rgba(183, 183, 197, 0.5);
    transition: all 0.8s ease 0s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.main-container{ 
    display: flex;
    justify-content: space-between;
}
.main-left{
    display: flex;
    width: 75%;
    flex: 3;
    flex-direction: column;
}
.main-right{
    flex: 1;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#source {
    width: 100%;
    background: transparent;
    height: 60vh;
    font-size: 18px;
    resize: none;
    outline: none;
    font-family: monospace;
    border: none;
    overflow: auto;
}
#source::placeholder {
    color: #000;
}

#line-num{
    height: 100%;
    font-family: monospace;
    overflow: auto;
    border-radius: 20px 0 0 20px;
    background: transparent;
    overflow-x: hidden;
}
#line-num::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
} 

ol li{
    display: list-item;
    padding: 0;
}


/*
===================================================
****************Input/Output Section**************
===================================================
*/
.user{
    height: 50%;
    width: 90%;
}

.user-head{
   /* border: 2px solid red; */
   height: 50px;
   width: 100%;
   background: rgba(109, 106, 137, 0.15);
   border-radius: 15px 15px 0 0;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 20px;
   background: rgba(109, 106, 137, 0.15);
   color:rgba(109, 106, 137, 1);
}
.user>textarea{
    background: none;
    height: 20vh;
    width: 100%;
    background: rgba(205, 206, 215, 1);
    outline: none;
    border: none;
    resize: none;
    transition: all 0.8s ease 0s;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 8px;
}
.user-head>h2{
    margin: 8px;
}
.headicon{
    margin: 8px;
}
.headicon>.fa{
    margin: 5px;
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    margin: 0 8px;
    /* margin: 5px 0; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.headicon>.fa:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*
===================================================
****************Compiler Foter Section**************
===================================================
*/


.compilerFotter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    background: rgba(109, 106, 137, 0.5);
    margin: 10px 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.compilerFotter>.fotIcon{
    margin:0 10px;
}
.compilerFotter>.fotIcon>.fa{
    margin: 5px;
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.compilerFotter>.fotIcon>.fa{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.fot-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}
.chooseLanguage {
    font-size: 20px;
}
.languageSelector {
    display: flex;
    margin: 10px;
  
}
.language {
    width: 100px;
    border-radius: 15px;
    height: 25px;
    color: #010140;
}
.button-run{
    border: none;
    outline: none;
    background: rgba(109, 106, 137, 1);
    padding: 8px 12px;
    border-radius: 15px;
}
.button-run:hover{
    cursor: pointer;
}
/*
======================================================================
  ****************dark mode*****************
======================================================================
*/

.compiler-background-dark{
    background: rgba(45, 16, 75, 1);

}
.user>.dark-textarea{
    background: rgba(183, 183, 197, 0.5);
}
.code-dark{
    background: rgba(183, 183, 197, 0.33);
}

.dark-text{
    color: white;
}
.user>.dark-text::placeholder {
    color: rgb(177, 170, 170);
}
.dark-icon>.fa{
    background:rgba(183, 183, 197, 0.5) ;
    color: white;
    margin: 0 8px;
}
.dark-icon>.fa:hover{
    background: blueviolet;
    color: #000;
}



/*
===================================================
****************Responsive Section**************
===================================================
*/

@media (max-width:1000px){
    .main-container{ 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-left{
        width: 90vw;
    }
    .main-right{
        width: 100vw;
        /* padding: 20px; */
        flex-direction: row;
        justify-content: space-around;
    }
    .user{
        width: 300px;
        min-height: 200px;
    }
   
}
@media(max-width:750px){
    .main-right{
        width: 100vw;
        /* padding: 20px; */
        flex-direction: column;
        
    }
    .user{
        margin: 10px;
    }
    .compilerFotter{
        justify-content: center;
    }
    .compilerFotter>.fotIcon{
        margin:0;
    }
    .compilerFotter>.fotIcon>.fa{
        margin: 5px 2px;
        font-size: 24px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .compilerFotter>.fotIcon>.fa{
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .fot-right{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .language {
        width: auto;
        border-radius: 15px;
        height: 25px;
        color: #010140;
    }
    .button-run{
        border: none;
        outline: none;
        background: rgba(109, 106, 137, 1);
        border-radius: 15px;
        min-width: 20px;
    }

    
}
