* {
  margin: 0;
}

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.navbar {
  background: rgb(1, 1, 64);
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.navbar ul {
  /* code here */
  margin: 15px 180px 15px 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.navbar ul li {
  /* code here */
  margin: 5px 15px;
}
.navbar ul li .link {
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
}

/* .navbar ul li .link:before {
content: "";
background: #9CF5A6;
background: #90EE02;
}
*/
.navbar ul li .compiler--active{
background-color: #ffffff;
color: black;
text-decoration: none;
padding: 18px;
border-radius: 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navbar ul li .link:hover {
background-color: #ffffff;
color: black;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* .navbar ul li .active {
background-color: #ffffff;
color: black;
text-decoration: none;
padding: 18px;
border-radius: 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
} */

.logo {
width: 120px;
display: flex;
justify-content: center;
align-items: center;
margin: 20px 20px 20px 40px;
}

.logoImg {
border-radius: 0;
border: none;
width: 120px;
}

.navbar .menu-icon {
color: white;
font-size: 25px;
display: none;
}

.navbar .menu-icon:hover {
cursor: pointer;
}

.navbar .close-icon {
color: white;
font-size: 25px;
display: none;
}

.navbar .close-icon:hover {
cursor: pointer;
}

#click {
display: none;
}

@media (max-width: 900px) {
.navbar .menu-icon {
  display: block;
  margin: 28px 45px;
}
.navbar ul {
  position: fixed;
  margin: 0;
  top: 50px;
  right: -300px;
  height: 100vh;
  display: block;
  width: 300px;
  text-align: center;
  opacity: 0.82;
  background-color: rgb(7, 7, 39);
  transition: all 0.2s ease;
}
#click:checked~ul {
  right: 0px;
}
#click:checked~.close-icon {
  display: block;
  margin: 12px 45px;
  font-size: 30px;
}
#click:checked~.menu-icon {
  display: none;
}
.navbar ul li {
  margin: 50px 0;
}
.navbar ul li .link, .navbar ul li .active {
  font-size: 28px;
  display: block;
}
.navbar ul li .link:hover, .navbar ul li .active {
  color: white;
  background: none;
  box-shadow: none;
}
.navbar ul li .itemm:hover{
  color: aqua;
}
.darkmode{
   left: 10px;
   top: 100px;
}
}

.darkmode{
  display: inline-block;
  font-size: 35px;
  position: absolute;
  right: 10px;
  top: 100px;
 
}

.moon{
  padding-top: 10px;
  text-align: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: black;
  color: white;
}
.moon:hover{
  color: black;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.sun{
  /* padding: 10px; */
  padding: 10px 10px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  color: orange;
}
.sun:hover{
  cursor: pointer;
  border: 1px solid  white;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
 
}

/* dark mode theme */
.dark{
  background-color: #201c1c;
  color: white;
}

a {
  transition: background 700ms;
}

